 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 .navbar {
    display: flex;
    align-items: center;
    background-color: #eecfbd;
    padding-left: 200px;
    margin-top: 20px;


  }
  .navbar a{
    margin: 30px;
    text-decoration: none;

  }
 